@model QuizApp.Models.OrganizeQuizModel

@{
    ViewBag.Title = "Organize";
}
<style>

    .hidden {
        display:none;
    }
</style>
<h2>Add Questions for Quiz: @Model.QuizName</h2>

@using (Html.BeginForm())
{
    int index = 0;
    @Html.AntiForgeryToken()

    @Html.TextBoxFor(d => d.QuizID, "", new { @class = "hidden" })
    <hr />
    
    <table class="table table-bordred table-striped">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    Questions
                </th>
                <th>
                    Answers
                </th>
            </tr>
            
        </thead>
        @foreach (var question in Model.Questions)
        {
            
        <tr>
            <td>
                @Html.CheckBoxFor(model=>model.Questions[index].IsSelected,new {  })
                @Html.TextBoxFor(model=>model.Questions[index].QuestionID,new { @class="hidden" })
            </td>
            <td>
                @question.Question
            </td>
            <td>
                @question.Option
            </td>
        </tr>
            index++;
        }
    </table>
    <input type="submit" value="Save" class="btn btn-default btn-block btn-primary" />

}

