@model IEnumerable<QuizApp.option>

@{
    ViewBag.Title = "Index";
}

<h2>Options</h2>

<p>
    @Html.ActionLink("Create New", "Create") |
    @Html.ActionLink("Questions", "Index", "questions")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.choice_text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iscorrect)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.question.question1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.choice_text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.iscorrect)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.question.question1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
